<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>파일 업로드</h1>
    <div>
        <div>
            <form>
                <div>
                    <lebel for="fileNm">파일명</lebel>
                    <input type="text" id="fileNm" placeholder="파일명">
                </div>
                <div class="form-group">
                    <lebel for="fileContent">내용</lebel>
                    <input type="text" id="fileContent" placeholder="내용">
                </div>
            </form>
            <a href="/">취소</a>
            <button type="button" id="btn-upload">업로드</button>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/fileUpload.js"></script>
</body>
</html>