<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGODB SAVE</title>
</head>
<body>
<h1>SAVE</h1>
<div>
    <div>
        <form>
            <div>
                <lebel for="type">파일명</lebel>
                <input type="text" id="type" placeholder="type">
            </div>
            <div class="form-group">
                <lebel for="name">name</lebel>
                <input type="text" id="name" placeholder="name">
            </div>
            <div class="form-group">
                <lebel for="url">url</lebel>
                <input type="text" id="url" placeholder="url">
            </div>
        </form>
        <button type="button" id="btn-save">저장</button>
    </div>

    <a href="/fav/list">리스트 조회</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/favorite.js"></script>
</body>
</html>