<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGODB LIST</title>
</head>
<body>
<h1> LIST </h1>

    {{#favoriteList}}
        type : {{type}}
        , name : {{name}}
        , url : {{url}}
        <br/>
    {{/favoriteList}}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/static/js/favorite.js"></script>
</body>
</html>